{% extends 'index.html' %}

{% block content %}
    <style>
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }

        .brand-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 10px 20px 10px;
            background-color: #e9e9e9;
            border-radius: 30px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            margin: 30px;
        }

        .brand-logo {
            height: 200px;
            padding: 20px;
        }

        .brand-details {
            font-size: 16px;
            text-align: center;
            color: #102218;
        }

        .cars-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 20px 20px 20px;
            background-color: #e9e9e9;
            border-radius: 10px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            margin: 30px;
        }

        .cars-container h3 {
            color: #102218;
        }

        .car-list {
            font-size: 16px;
            text-align: center;
            margin: 0;
            padding: 0;
            list-style-type: none;
            column-count: 3;
            column-gap: 20px;
        }

        .car-list li {
            margin-bottom: 10px;
        }

        .car-list a {
            text-decoration: none;
            color: #102218;
        }
    </style>
    <div class="brand-container">
        <img class="brand-logo" src="{{ brand.logo.url }}">
        <div class="brand-details">
            <p><strong>Name:</strong> {{ brand.name }}</p>
            <p><strong>Year of creation:</strong> {{ brand.year }}</p>
        </div>
    </div>
    <div class="cars-container">
        <h3>Cars :</h3>
        <ul class="car-list">
            {% for car in cars %}
                <li><a href='{% url 'mainapp:cardetail' car.id %}'>{{ car.model }} {{ car.generation }} - {{ car.year }}</a></li>
            {% empty %}
                <li>No cars found for this brand.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
